<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <img src="/images/headshot.jpg" alt="avatar" class="avatar">

        <h1 class="header-name">Brian Waldon</h1>
	<span>brian@waldon.cc</span>

        <div class="title-bar">

          <h2 class="header-title">Software Engineer</h2>
          {% include icon-links.html %}

        </div>

        <div class="executive-summary">
          <p>I am passionate about technology and sustainable farming. I've spent most of my career focused on the former, but I spend my time away from my desk on the latter! I'm seeking a role where I get to apply my technical skills in a way that helps move the world towards a more sustainable future, in whatever form it may take.</p>
        </div>

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- begin resume-item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Diamanti</h3>
          <h4 class="resume-item-details">VP, Product &bull; Dec 2018 &mdash; Present</h4>

	  <p class="resume-item-copy">Diamanti was founded on the premise that a combination of Kubernetes, NVMe devices, and hardware offload could be combined to operate incredibly efficient infrastructure. I joined this team of highly-skilled engineers to expand the capabilities of the Diamanti platform into the cloud.</p>

          <p class="resume-item-copy">Some other things I have accomplished while at Diamanti:</p>

          <ul class="resume-item-list">
            <li>Developed and assisted in implementation of Diamanti Spektra &amp; Ultima roadmaps, which strategically expanded the platform into full-software and cloud-based environments</li>
	    <li>Designed, implemented and operated Diamanti Central, which directly interfaced with Diamanti customers via a web application to distribute product licenses, collect platform telemetry, and serve hosted sandbox environments</li>
	    <li>Led a team of product managers and designers to provide direction for the engineering teams</li>
            <li>Acted as chief product tester to ensure high quality and accurate feature development</li>
	    <li>Represented Diamanti publicly - briefing analysts, engaging with press outlets, etc</li>
          </ul>

	  <p class="resume-item-copy">You may be asking yourself - "why a shift to product?" Well, the answer is simple - the Diamanti engineering team was already running full speed when I joined! I was able to make a much bigger impact by filling a new role for the company, and having a strong engineering background allowed me to be incredibly effective from day one. I also found areas of need on the engineering side (i.e. Diamanti Central) and filled them as necessary.</p>

	</div>
        <!-- end of resume-item -->

        <!-- begin resume-item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Planet Labs</h3>
          <h4 class="resume-item-details">Principal Engineer &bull; Jan 2016 &mdash; Aug 2018</h4>

          <p class="resume-item-copy">Planet has done some absolutely amazing things. I was able to join after the initial constellations of earth imaging satellites were in orbit, and I could build on the immense pipeline of data already being generated. My major focus during my time at Planet was to bolster the existing public-facing imagery services, and develop new internal and external services that could derive analytics from imagery using machine learning.</p>

          <p class="resume-item-copy">Some of my notable achievements include:</p>

          <ul class="resume-item-list">
            <li>Architecting and implementing a large-scale analytics platform that empowered the data science team to effectively process live imagery, and serve the derived insights back to public customers.</li>
	    <li>Deployed and operated Kubernetes as primary infrastructure platform for public-facing serviecs on AWS and GCP</li>
	    <li>Led operationally-focused teams of DevOps engineers and SREs towards a more sane mode of operation (i.e. on-call rotations quieter, less frequent, and overall higher service uptime) </li>
          </ul>

	</div>
        <!-- end of resume-item -->



        <!-- begin resume-item -->
        <div class="resume-item">
          <h3 class="resume-item-title">CoreOS</h3>
          <h4 class="resume-item-details">Engineering Team Lead &bull; Nov 2013 &mdash; Present</h4>

          <p class="resume-item-copy">I defined and implemented the initial architecture of <a href="https://tectonic.com">Tectonic</a>, CoreOS' flagship commercial product. Tectonic delivered <a href="http://kubernetes.io">Kubernetes</a> along with a custom management plane to enterprise customers. I was instrumental in establishing the early access program, and I built a cohesive development team around the product, eventually releasing GA in early November, 2015.</p>

          <p class="resume-item-copy">My role as a team lead was to ensure that active development on the product continued to move forward efficiently. My primary responsibilities included:</p>

          <ul class="resume-item-list">
            <li>Evolve the overall architecture and roadmap of the product, engaging internal stakeholders and external customers</li>
            <li>Assist with company goal-setting and performance tracking via the <a href="http://www.businessinsider.com/googles-ranking-system-okr-2014-1">OKR process</a></li>
            <li>Drive day to day operations of a team of 5+ engineers, ensuring proper software development practices are observed and happiness is abundant</li>
            <li>Develop Tectonic codebase alongside team members, providing guidance through code review and technical discussion</li>
            <li>Manage releases to customers, generation of documentation and clean migration paths to preserve backwards compatibility</li>
            <li>Ensure customer success via proactive conversations and reactive L3 support</li>
          </ul>

          <p class="resume-item-copy">During the development of Tectonic, I pioneered two major open-source projects, <a href="https://github.com/coreos/dex">dex</a> and <a href="https://github.com/coreos/coreos-kubernetes/tree/master/multi-node/aws">kube-aws</a>, both of which are detailed below under <a href="#projects">Projects</a>.</p>

          <p class="resume-item-copy">Prior to CoreOS' decision to build Tectonic, I was responsible for CoreOS' custom cluster management solution, <a href="https://github.com/coreos/fleet">fleet</a>. The project provides a cluster-level abstraction atop <a href="http://www.freedesktop.org/wiki/Software/systemd/">systemd</a>, allowing users to safely operate services in an ephemeral environment. More information is available under <a href="#projects-fleet">Projects</a>.</p>

	    </div>
        <!-- end of resume-item -->

        <!-- begin resume-item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Nebula</h3>
          <h4 class="resume-item-details">Architect &amp; Software Development Manager &bull; July 2012 &mdash; Nov 2013</h4>


		  <p class="resume-item-copy"><a href="https://www.nebula.com/home/">Nebula</a> aimed to bring OpenStack to the datacenter in the form of a hardware appliance, the Nebula One Cloud Controller. I joined Nebula to lead an engineering team responsible for all OpenStack-focused development. I made a major impact as an engineer, an architect and a manager during my time at the company. My responsibilities included, but were not limited to:</p>

          <ul class="resume-item-list">
            <li>Direct team of local and remote engineers, ensuring individuals are able to effectively contribute while maintaining relative sanity</li>
            <li>Plan tactical engineering roadmap with VP of Engineering and other team leads</li>
            <li>Provide architectural guidance on Nebula's OpenStack implementation and distributed data persistence layer</li>
            <li>Proactively engage high profile customers such as <a href="http://www.bloomberg.com/bw/articles/2013-04-02/nebula-builds-cloud-computer-for-the-masses">Xerox PARC</a> to ensure their success with the product</li>
            <li>Develop portions of control plane code (Python)</li>
            <li>Interface with hardware team to ensure internal physical components operate as expected</li>
            <li>Handle burn-in and migration testing in hardware lab before release to customers</li>

		</div>
        <!-- end of resume-item -->

        <!-- begin resume-item -->
        <div class="resume-item">
          <h3 class="resume-item-title">OpenStack</h3>
          <h4 class="resume-item-details">Project Technical Lead &bull; Oct 2011 &mdash; Sep 2012</h4>

	  <p class="resume-item-copy">I was elected by the <a href="https://openstack.org">OpenStack</a> community to serve as the Project Technical Lead (PTL) of <a href="http://docs.openstack.org/developer/glance/">Glance</a> for two consecutive release cycles. Glance  acts as the central image service. As the PTL, I was responsible for leading project development and engaging with the OpenStack community.:</p>
	</div>
        <!-- end of resume-item -->

        <!-- begin resume-item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Rackspace</h3>

          <h4 class="resume-item-details">Software Developer, Rackspace Cloud &bull; Jan 2011 &mdash; Apr 2012</h4>
	  <p class="resume-item-copy">Worked alongside public and private cloud teams to deliver OpenStack to customers.</p>

          <br/>

          <h4 class="resume-item-details">Software Developer, Rackspace Email &amp; Apps &bull; Jan 2008 &mdash; Apr 2011</h4>
	  <p class="resume-item-copy">Built backend systems in Python &amp; PHP related to email routing and spam filtering.</p>

	</div>
        <!-- end of resume-item -->


      </section>
      <!-- end Experience -->

      <!-- begin Projects -->
      <section class="content-section" id="projects">

        <header class="section-header">
          <h2>Open Source Projects</h2>
        </header>

		<!-- resume-item start -->
        <div class="resume-item">
          <h3 class="resume-item-title" id="projects-fleet">fleet</h3>
          <p class="resume-item-copy"><a href="https://github.com/coreos/fleet">fleet</a> is a cluster-level abstraction of systemd, enabling users to safely operate services in an ephemeral environment while incurring minimal resource and cognitive overhead.</p>

          <ul class="resume-item-list">
            <li>Provides schema-driven REST-like API for users to interact with the system</li>
			<li>Interacts systemd via DBus APIs</li>
			<li>Uses etcd for distributed locking &amp; persistent data storage</li>
			<li>Operated production CoreOS services for ~2 years</li>
			<li>Deployed by external companies to coordinate thousands of hosts</li>
          </ul>

        </div>
		<!-- resume-item end -->

		<!-- resume-item start -->
        <div class="resume-item">
          <h3 class="resume-item-title">dex</h3>
          <p class="resume-item-copy"><a href="https://github.com/coreos/dex">dex</a> is a federated identity management service. The primary goal of dex is to provide a powerful, flexible, secure solution to identity management while minimizing overhead on both end users and deployers of the system.</p>

          <ul class="resume-item-list">
            <li>Frontend communication via <a href="https://openid.net/connect/">OpenID Connect</a>, similar to OAuth2</li>
            <li>Users self-authenticate through federation of control to arbitrary backends (Google, Facebook, LinkedIn, GitHub, LDAP, local DB, etc)</li>
            <li>Ability to send emails to end users to facilitate secure communication of passwords</li>
            <li>Signing keys automatically rotated, sensitive data encrypted at rest</a>
          </ul>

        </div>
	<!-- resume-item end -->

	<!-- resume-item start -->
        <div class="resume-item">
          <h3 class="resume-item-title">Smaller Notable Projects</h3>
          <p class="resume-item-copy">In addition to the larger projects above, I have also been responsible for many smaller projects over the years:</p>

          <p class="resume-item-copy">
            <a href="https://github.com/coreos/coreos-cloudinit">coreos-cloudinit</a>
            <ul class="resume-item-list">
              <li>Inspired by Ubuntu's cloudinit tool</li>
              <li>Used to configure CoreOS Linux hosts via YAML</li>
              <li>Aware of metadata services on most major cloud providers: AWS, GCE, Rackspace, Digital Ocean, etc</li>
              <li>Currently managing tens of thousands of active CoreOS Linux hosts</li>
              <li>Shipped directly in CoreOS Linux image</li>
            </ul>
          </p>

          <p class="resume-item-copy">
            <a href="https://github.com/coreos/etcd/tree/master/client">github.com/coreos/etcd/client</a>
            <ul class="resume-item-list">
              <li>Completely rewrote <a href="https://github.com/coreos/go-etcd">original client bindings</a> based on what was learned from development of fleet</li>
              <li>New package now the official golang bindings for etcd APIs</li>
              <li>Currently in use by fleet for locking, data persistence, liveness checks</li>
            </ul>
          </p>

          <p class="resume-item-copy">
            <a href="https://github.com/coreos/go-systemd/tree/master/unit">github.com/coreos/go-systemd/unit</a>
            <ul class="resume-item-list">
              <li>Systemd unit file parser</li>
              <li>Reverse-engineered systemd source code</li>
              <li>Package written for fleet to (de)serialize unit files</li>
            </ul>
          </p>

        </div>
	<!-- resume-item end -->

      </section>
      <!-- end Projects -->

      <footer class="page-footer">
        <p class="footer-line"><a href="https://github.com/jglovier/resume-template">forked from github.com/jglovier</a></p>
      </footer>

    </div>

  </body>

</html>
